---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h2> Welkom bij Teamcast.fun</h2>
			<p>
				Wij geloven dat organisaties sterker worden wanneer hun mensen leren spreken.
                Niet alleen zenden — maar échte gesprekken voeren.
                Met aandacht. Met scherpte. Met betekenis.

			</p>
			<p>
               In mijn podcastworkshops begeleid ik teams om hun persoonlijke specialiteit te vertalen 
               naar een professioneel en strategisch audiodocument. 
               Geen trucje. Geen marketinghype. Maar een vorm van leiderschap.

			</p>
			<p>We werken aan:</p>
			<ul>
				<li>Het formuleren van een helder en gedragen verhaal</li>
				<li>Het stellen van vragen die diepgang brengen</li>
				<li>Het creëren van gesprekken die verbinden</li>
				<li>Het ontwikkelen van vertrouwen achter de microfoon</li>
				<li>En we maken een smaakvolle goedklinkende podcast</li>
			</ul>
			<p>
				"Ik help organisaties hun echte stem te vinden — en die hoorbaar te maken.
				In mijn werk zie ik het telkens weer:
				Er is zóveel kennis, visie en ervaring aanwezig binnen teams.
				Maar het blijft vaak opgesloten in vergaderingen, documenten of hoofden."

			</p>
			<p>
				Wij begeleiden teams van idee naar impact. Strategisch doordacht. Professioneel uitgevoerd.
				En altijd met oog voor wat de organisatie werkelijk wil uitdragen.
			</p>
			<p>
			   mail naar info@schoolonstage.nl
		    </p>
		</main>
		<Footer />
	</body>
</html>
