---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h2> Welkom bij Teamcast.fun</h2>
			<p>
				Wij geloven dat organisaties sterker worden wanneer hun mensen leren spreken.
                Niet alleen zenden — maar échte gesprekken voeren.
                Met aandacht. Met scherpte. Met betekenis.

			</p>
			<p>
               In mijn podcastworkshops begeleid ik teams om hun persoonlijke specialiteit te vertalen 
               naar een professioneel en strategisch audiodocument. 
               Geen trucje. Geen marketinghype. Maar een vorm van leiderschap.

			</p>
			<p>We werken aan:</p>
			<ul>
				<li>•  Het formuleren van een helder en gedragen verhaal</li>
				<li>•  Het stellen van vragen die diepgang brengen</li>
				<li>•  Het creëren van gesprekken die verbinden</li>
				<li>•  Het ontwikkelen van vertrouwen achter de microfoon</li>
				<li>Customize the blog post page layout in <code>src/layouts/BlogPost.astro</code></li>
			</ul>
			<p>
				Have fun! Mail ons,  <a href="info@schoolonstage.nl"
					>read the docs
				</a> or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
			</p>
			<p>
				Looking for a blog template with a bit more personality? Check out <a
					href="https://github.com/Charca/astro-blog-template"
					>astro-blog-template
				</a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
